{% extends 'base.html.twig' %}
{% block body %}
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 50%;">Titre</td>
<td style="width: 10%;">Auteur</td>
<td style="width: 10%;">Date</td>
<td style="width: 10%;">Status</td>
<td style="width: 10%;">Action</td>
</tr>
{% for ticket in tickets %}
<tr>
<td>{{ ticket.titre }}</td>
<td></td>
<td>{{ ticket.date|date('d-m-Y') }}</td>
<td>{{ ticket.status.name }}</td>
<td></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
